.background_number{
    position: absolute;
    justify-content: center;
    line-height: 0;
    z-index: -1;
    display: block;
}

.number{
    line-height: 450px;
    font-size: 450px;
    z-index: -1;
    display: block;
    color: #F3F7F4;
}