.buttons_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.title{
    text-align: center;
}

.quiz_result_text{
    text-align: center;
}
.options_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}