.card_wrapper{
  position: relative;
  background-color: transparent;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-image: initial;
  border-top: none;
  border-bottom: none;
  margin-bottom: 90px;
  margin-top: 90px;
}

.card_wrapper_reverse{
  position: relative;
  flex-direction: row-reverse;
  background-color: transparent;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-image: initial;
  border-top: none;
  border-bottom: none;
  margin-bottom: 90px;
  margin-top: 90px;
}

@media screen and (max-width: 768px) {
  .card_wrapper {
    flex-direction: column;
  }

  .card_wrapper_reverse {
    flex-direction: column;
  }
}

.card_image {
  width: fit-content;
  display: block;
}

.card_content {
  width: 33%;
  gap: 22px;
  margin: 5%;
  flex-direction: column;
  display: flex;
  -webkit-box-align: center;
  box-sizing: border-box;
}

.card_title {
  font-size: 10px;
  line-height: 15px;
  color: #6D8A83;
}

.card_subtitle {
  font-size: 28px;
  line-height: 40px;
  color: #0B3B3C;
}

.card_text {
  font-size: 18px;
  line-height: 30px;
  color: #6D8A83;
}
